.header{
    display: flex;
    min-width: 480px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: start;

    @media screen and (min-width:768px) {
        min-width: 768px;
        height: auto;
        display: flex;
        align-items: center;
    }

    @media screen and (min-width:1200px) {
        min-width: 1600px;
        height:80px;
        padding-right: 215px;
        padding-left: 215px;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
}

.menu-header{
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        padding: 0px;
    }
}

.menu-header.is-open{
    display: block;
}

.nav-link,
.nav{
    padding-bottom: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $titlecolor;
    text-decoration: none;
    list-style: none;

    @media screen and (min-width:768px) {
        padding-bottom: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 0px;
        margin-right: 50px;

        &:not(last-child){
            margin-right: 50px;
        }
    }

    @media screen and (min-width:1200px){
        display: inline-block;
        margin-right: 0;
    }

}

.nav-link{
    position: relative;
}

.nav-link::after{
    position: absolute;
    content: "";
    left: 0;
    bottom:-28px;
  
    width:100%;
    height: 4px;
    
    margin-top: 28px;

    background-color: $hovercolor;
    border-radius: 2px;
    display: none;
}

.nav-link:hover::after{
    display: block;
    color: $hovercolor;
}
.nav-link:focus::after{
    display: block;
    color: $hovercolor;
}

.box-kontakt{
    display: inline-block; 
    margin-right: 0;
    padding-left:0;
    padding-top: 50px;
    list-style: none;
    align-items: center;

    @media screen and (min-width:1200px) {
      display: inline-block;
      margin-right: 0px;
      margin-left: 305px;
    }
}

.list-kontakt{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    text-align: center;
    list-style: none;
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
        margin-bottom: 0px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
    }
}

.item-kontakt{
    display: flex;
    margin-top: 16px;
    align-items: center;

    @media screen and (min-width:1200px) {
        display: flex;
        margin-right: 0px;
        margin-left: 30px;
    }
}

.phone,
.email {
   font-family: Roboto;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   text-decoration: none;
   cursor: none;
   color: $textcolor;
   
}

.email:hover,
.phone:hover{
    color: $hovercolor;
}

.icon.kontakt:hover{
    fill: $hovercolor;
}

.icon.kontakt{
    margin-right: 10px;
    fill: $textcolor;
}

@media screen and (max-width:767px){
    .menu-header{
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    .nav-item{
        margin-top: 60px;
    }
    
}

@media screen and (min-width:768px) {
    .nav-item{
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
    }
}

@media screen and (min-width:768px) {
    .nav :not(last-child){
         margin-right: 0px;
    }
}

@media screen and (min-width:1200px){
    .nav +.nav{
    margin-left: 50px;
}
}

